.urlTable {
    padding-top: 40em;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 25em;
    max-height: 25em;
    align-self: center;
    height: 100px; 
    overflow: auto;
    table-layout:fixed;
    overflow: hidden;
    background-color: white;
    white-space: nowrap;
}

.urlTable th {
    color: blue;
    text-align: center;
}


.urlTable td, tr {
    word-wrap: break-word;
    color: black;
    text-align: center;
    font-size: 11px;
    border-bottom: 1px solid #009879;

}