table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 500px;
    table-layout: fixed;
    align-self: center;
}

thead tr {
    background-color: darkgray;
    color: #ffffff;
    text-align: left;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    color: gray;
    font-size: calc(16px);
}
th {
    font-weight: bold;
}


tr {
    border-bottom: 1px solid #dddddd;

}

tr:last-of-type {
    border-bottom: 2px solid #009879;
}

tr:hover th {
    color: green;
}