.App {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  background-color: lightgray;
  min-height: 80vh;

}

.BoxFiles {
  justify-content: left;
  grid-column: 1/4;
  grid-row: 1/4;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
}

.BoxButtons {
  justify-content: left;
  grid-column:2 ;
  grid-row: 1;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: row;
}

.BoxTable {
  grid-column:1 ;
  grid-row: 3;
}

.right{
  background-color: white;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: black;
  grid-column: 3;
  grid-row: 1;
}


.col{
  background-color: white;
  display: flex;
  flex-direction: left;
  align-items: left;
  justify-content: left;
  text-align: left;
  font-weight:  bold;
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.Message {
  background-color:tomato;
  font-weight: bold;
}